*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.name
/.idea/AndroidProjectSystem.xml
/.idea/appInsightsSettings.xml
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/other.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradle/gradle-daemon-jvm.properties
/gradle/libs.versions.toml
/CLAUDE.md
/gradlew
/gradlew.bat
